<div class="col-xs-10 col-xs-offset-1 about">
 <h1>About Yappy</h1>

<br class="clear" />
<br />
<br />

<p>
Yappy was built by <a target="_blank" href="http://github.com/jonchrisong">Jonathan</a>. He is an aspiring software developer. This is the about page.... filler contents to be added later xxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxx xxxxxxxx 
</p>

<br class="clear" />
<br />
<br />


<div class="col-xs-12 col-sm-4">
  <%= image_tag 'jon.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">


  <h2 class="text-center">Jonathan Ong</h2>
  <br />
  <p> Jonathan is an aspiring web developer. filler content to be added later -  xxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxx xxxxxxxx  xxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxx xxxxxxxx  xxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx 
  </p>

  </div>
  </div>