<div class="col-xs-10 col-xs-offset-1 about">
 <h1>About ARTANIS</h1>

<br class="clear" />
<br />
<br />

<p>
ARTANIS is a database-powered quote generator with a slick, mobile-first design, built with Ruby on Rails, HTML, CSS3, GitHub and Heroku by <a target="_blank" href="http://github.com/jonchrisong">Jonathan Ong</a>. It is an adaptation of Marco & Ken's Splurty Application from the <a target="_blank" href="http://www.thefirehoseproject.com/">Firehose Project</a>.
</p>

<br class="clear" />
<br />
<br />


<div class="col-xs-12 col-sm-4">
  <%= image_tag 'jon.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">


  <h2 class="text-center">Jonathan Ong</h2>
  <br />
  <p> Jonathan is an aspiring web developer. This is the first of many web applications that he will build. He aims to continue to add more enhancements to ARTANIS as he develops his coding skills.
  </p>

  </div>
  </div>