<br class="clear" />
<br />

<h2 class="headerOne">
<u>Quote <%= @quote.id %></u>
<br />
From the game <%= @quote.source.titleize %>
</h2>

<br class="clear" />
<br />
<br />
<br />


<div class="blockquote">

<h1><%= @quote.saying %></h1>
<h2 pull-right">- <%= @quote.author %></h2> 

</div>
