@import "bootstrap-sprockets";
@import "bootstrap";





body{
  background: #E0E0E0; 
}

.clear {
  clear:both;
}

$color1 : rgba(190,53,21,.65);
$color2 : rgba(104,44,108,.65);
$color3 : rgba(37,213,193,.65);
$color4 : rgba(43,47,147,.65);
$color5 : rgba(46,211,31,.65);

.cube {
  width: 120px;
  height: 120px;
  -webkit-perspective: 3000px;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective-origin: 50% 50%;
  -webkit-backface-visibility: visible;
  transition:transform 20s ease;
  margin:10px 10px;
  animation:roll 8s linear infinite;
}
.cube div{transition:all 1s ease}
.cube .front ,
.cone .front {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border: none;
  line-height: 80px;
  font-family: arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  background:-webkit-linear-gradient(45deg,$color1,$color4,$color5,$color2,$color3) ;
  -webkit-transform: translateZ( 10px );
  -webkit-backface-visibility: visible;
}
.cube .back ,
.cone .back{
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border: none;
  line-height: 80px;
  font-family: arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  background:-webkit-linear-gradient(45deg,$color1,$color5,$color2,$color4,$color3) ;    color: black;
  -webkit-transform: rotateY(180deg)  translateZ( 10px );
  -webkit-backface-visibility: visible;
}
.cube .right,
.cone .right{
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border: none;
  line-height: 80px;
  font-family: arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  background:-webkit-linear-gradient(45deg,$color5,$color1,$color4,$color3,$color2) ;
  -moz-transform: rotateY( 90deg) translateZ( 10px );
  -moz-backface-visibility: visible;
  -webkit-transform: rotateY( 90deg) translateZ( 10px );
  -webkit-backface-visibility: visible;
}
.cube .left,
.cone .left{
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border: none;
  line-height: 80px;
  font-family: arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  background:-webkit-linear-gradient(45deg,$color3,$color5,$color3,$color2,$color1) ;
  -moz-transform: rotateY(-90deg) translateZ( 10px );
  -moz-backface-visibility: visible;
  -webkit-transform: rotateY(-90deg) translateZ( 10px );
  -webkit-backface-visibility: visible;
}
.cube .top,
.cone .top{
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border: none;
  line-height: 80px;
  font-family: arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  background:-webkit-linear-gradient(45deg,$color1,$color2,$color3,$color4,$color5) ;    -moz-transform: rotateX( 90deg) translateZ( 50px );
  -moz-backface-visibility: visible;
  -webkit-transform: rotateX( 90deg) translateZ( 10px );
  -webkit-backface-visibility: visible;
}
.cube .bottom,
.cone .bottom{
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border: none;
  line-height: 80px;
  font-family: arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  background:-webkit-linear-gradient(45deg,$color1,$color2,$color3,$color4,$color5) ;
  -moz-transform: rotateX(-90deg) translateZ( 10px );
  -moz-backface-visibility: visible;
  -webkit-transform: rotateX(-90deg) translateZ( 10px );
  -webkit-backface-visibility: visible;
}




@keyframes roll{

  0%{  transform: rotateY(0deg) rotateX(0deg);
  }
  100%{  transform: rotateY(360deg) rotateX(360deg);
  }
}

@keyframes rollKey{

  0%{  transform: rotateY(360deg) rotateX(360deg);
  }
  100%{  transform: rotateY(0deg) rotateX(0deg);
  }
}
body:hover .cube div{
 margin:1em
}
body:hover .cube span{
  font-size:6em;
  color:transparent;
  text-shadow:0 0 0;
}
body:hover .cube .bottom{

  -webkit-transform: rotateX(-90deg) translateZ( 10px );
  -webkit-backface-visibility: visible;
}

body:hover .cube .front{
 -webkit-transform: translateZ( 10px );
}

body:hover .cube .left{
  -webkit-transform: rotateY(-90deg) translateZ( 10px );

}
body:hover .cube .right{
  -webkit-transform: rotateY(90deg) translateZ( 10px );

}
body:hover .cube .back{
  -webkit-transform: rotateY(180deg)  translateZ( 10px );

}

body:hover .cube .top{
  -webkit-transform: rotateX(90deg)  translateZ( 10px );

}


.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top: 70px; 
  font-size: 20px;
}

h1{
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-weight: bold;
  font-size: 48px;
}

h2{
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-weight: bold;
}

.links{
 padding-top: 70px; 
 text-align: right;
}

.links a{
  color:black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
 font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-weight: bold;
}

header{
  border-top: 9px solid #222222;
}

.headerOne{
  font-family: 'milkshakeregular';
  font-weight: bold;
}

p { color: #111; font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 28px; margin: 0 0 48px; }

.blockquote {
  background-color: #f5f5f5;
  border-left: 1em solid #ccc;
  margin: 1.5em 0 1.5em;
  padding: 1em 1.5em 0 2.5em;
  position: relative;
  word-wrap: break-word;
}

.blockquote:before {
  color: #808080;
  content: "\201C";
  font-size: 5em;
  position:absolute;
  left:5px;
  top: 0.6em;
  line-height: 0.1em;
}

.blockquote:after {
 color: #808080;
 content: "\201D";
 font-size: 5em;
 position:absolute;
 right:3px;
 bottom: 0em;
 line-height: 0.1em;
}      

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0000;
  background-color:  #a8d1ff;
  border: none;
  border-radius: 45px;
  box-shadow: 0 9px #999;
  margin-bottom: 35px;
}

.button:hover {
  background-color: #a8d1ff;
  text-decoration: none;
}

.button:active {
  background-color:  #a8d1ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.container{
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}


.home-link:hover{
  text-decoration: none;
}


.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}


::selection {
  background-color: #a8d1ff;
}

.hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

// Not needed since changed alignment of footer to center
// @media (max-width: 750px) {
//   .footer-blurb {
//     text-align: left;
//   }
// }

// Not needed since I 
// .circle {
//   font-weight:bold;
//   font-style: italic;
//   position: relative;
//   border-radius: 100%;
//   background: #f84342;
//   border: 1px solid #F7F7F7;
//   width: 80px;
//   height: 80px;
//   margin: 10px 10px;
//   text-align: center;
//   color: #FFF;
//   font-size: 10px;
//   line-height: 16px;
//   cursor: pointer;
//   transform:rotate(11deg);
//   -ms-transform:rotate(11deg); /* IE 9 */
//   -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
// }